<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1><%= htmlWebpackPlugin.options.title %></h1>
    <h2>dd223</h2>
    <pre>
      <%= require.context('!!raw!' + 'xxxxxxxx')(htmlWebpackPlugin.options.code) %>
    </pre>
  </body>
</html>
